@charset "UTF-8";
@import './base';
@import './breakpoint';

// 追従ボタン
.follow-btn {
  display: block;
  width: 7.5rem;
  height: 21.6rem;
  background-color: rgba(239, 83, 80);
  color: rgba(255, 255, 255);
  border: none;
  font-size: 2rem;
  border-radius: 1.2rem 0 0 1.2rem;
  transition: all 0.5s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include sp{
    display: none;
  }
  &:hover {
    border: solid 1px rgba(239, 83, 80);
    background-color: rgba(255, 255, 255);
    color: rgba(239, 83, 80,);
    &::before {
      position: absolute;
      content: "";
      border-radius: 1.2rem 0 0 1.2rem;
      top: 0.6rem;
      bottom: 0.6rem;
      left: 0.6rem;
      right: 0.6rem;
      border: solid 1px rgba(239, 83, 80); 
      background-color: rgba(255, 255, 255);
      z-index: -1;
    }
  }
}
.fade-in {
  opacity: 0;
  transition: all 0.5s;
}
.scroll-in {
  opacity: 1;
  position: fixed;
  bottom: 15.972vh;
  right: 0px;
}

// トップページ
.top-section {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  @include sp{
    flex-direction: column-reverse;
  }
}
.top-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  @include sp{
    padding-top: 3.5rem;
    padding-left: 0;
    width: 37.5rem;
    align-items: center;
  }
  h2 {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
    margin-top: 0;
    font-weight: normal;
    @include sp{
      font-size: 2.1rem;
      margin-bottom: 2.1rem;
    }
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 2.7rem;
    font-weight: normal;
    line-height: 5.6rem;
    @include sp{
      font-size: 2.5rem;
      line-height: 3.9rem;
      margin-bottom: 1.8rem;
      text-align: center;
    }
    }
  &__btn {
    width: 48rem;
    height: 11.2rem;
    background-color: rgba(239, 83, 80);
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2.4rem;
    border-radius: 2rem;
    margin-bottom: 3.7rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sp{
      width: 34.5rem;
      height: 5.3rem;
      font-size: 1.9rem;
      border-radius: 1.4rem;
      margin-bottom: 1.7rem;
    }
    &:hover {
      top: -0.4rem;
      box-shadow: 0 0.8rem 0.5rem 0 rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
    &:active {
      top: 0.4rem;
      box-shadow: none;
    }
  }
  p {
    font-size: 1.6rem;
    line-height: 3.2rem;
    margin: 0;
    @include sp{
      font-size: 1rem;
      line-height: 1.4rem;
    }
  }
}
.top-image {
  &__pc {
    width: 64rem;
    @include sp{
      display: none;
    }
  }
  &__sp {
    display: none;
    @include sp{
      display: block;
      width: 100%;
    }
  }
}

// イントロページ
.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 11.9rem;
  @include sp{
    padding-top:6.9rem;
  }
  h2 {
    font-size: 2.4rem;
    font-weight: normal;
    background: linear-gradient(transparent 65%, rgba(25, 118, 210, 0.35) 0%);
    margin: 0;
    @include sp{
      font-size: 2.1rem;
    }
    }
  p {
    font-size: 1.6rem;
    margin: 2.1rem 0 1.9rem 0;
    @include sp{
      font-size: 1.4rem;
      margin: 1.8rem 0 1.7rem 0;
    }
    &:first-of-type {
      margin-top: 9rem;
      @include sp{
        margin-top: 3.2rem;
      }
    }
  }
  hr {
    width: 57.2rem;
    border: none;
    border-bottom: solid 1px rgba(25, 118, 210);
    margin: 0;
    @include sp{
      width: 34.5rem;
    }
  }
  h1 {
    width: 100vw;
    height: 23.2rem;
    font-size: 4.8rem;
    line-height: 6.4rem;
    font-weight: normal;
    margin-top: 11.3rem;
    margin-bottom: 0;
    background: linear-gradient(to right, rgb(115, 172, 228), #DEEEFC);
    display: flex;
    align-items: center; 
    justify-content: center;
    @include sp{
      height: 9rem;
      margin-top: 5.6rem;
      line-height: 3.1rem;
      font-size: 1.7rem;
    }
  }
}

// サービスページ
.service-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 12.1rem 0 16.8rem 0;
  box-sizing: border-box;
  @include sp{
    align-items: flex-start;
    max-width: 37.5rem;
    padding: 6.3rem 1.5rem 5.6rem 1.5rem;
  }
  h1 {
    text-align: center;
    font-size: 5.6rem;
    font-weight: normal;
    background: linear-gradient(transparent 60%, rgba(252, 143, 0, 0.35) 0);
    margin: 0;
    @include sp{
      font-size: 0;
      text-align: left;    
      margin-left: 1rem;
    }
    &:nth-of-type(2) {
      margin-top: 0.4rem;
    }
    &:first-of-type {
      @include sp{
        background: linear-gradient(transparent 70%, rgba(252, 143, 0, 0.35) 0);
        margin-bottom: 0.5rem;
        padding-bottom: 0.3rem;
      }
    }
    &:last-of-type {
      @include sp{
        background: linear-gradient(transparent 70%, rgba(252, 143, 0, 0.35) 0);
        padding-bottom: 0.3rem;
      }
    }
    &:first-of-type:before {
      @include sp{
        content: "ABCプログラミングスクールでは";
        font-size: 2.1rem;
      }
    }
    &:last-of-type:before {
      @include sp{
        content: "あなたの学習を徹底サポート";
        font-size: 2.1rem;
      }
    }
  }
}
.service-wrapper {
  display:flex;
  justify-content: space-between;
  width: 110.5rem;
  margin-top: 4.8rem;
  @include sp{
    width: 100%;
    flex-direction: column;
    margin-top: 5.8rem;
  }
  img {
    width: 47.4rem;
    height: 28rem;
    @include sp{
      width: 34.5rem;
      height: 18.9rem;
    }
  }
  &:first-of-type {
    margin-top: 6.4rem
  }
  &:nth-of-type(2) {
    flex-direction: row-reverse;
    @include sp{
      flex-direction: column;
    }
  }
  &__text {
    width: 55.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include sp{
      width: 34.5rem;
      margin-top: 4.2rem;
    }
    h2 {
      font-size: 2.4rem;
      margin-bottom: 2.6rem;
      margin-top: 0;
      font-weight: normal;
      @include sp{
        font-size: 2.1rem;
      }
    }
    p {
      font-size: 1.6rem;
      line-height: 3.2rem;
      margin: 0;
      @include sp{
        font-size: 0;
        line-height: 2.8rem;
        margin-top: 1.8rem;
        &:before {
          content: "ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト";
          font-size: 1.4rem;
        }
      }
    }
  }
}
.form-induction {
  height: 28rem;
  background: linear-gradient(to right, #62B5FE, #DEEEFC);
  display: flex;
  flex-direction: column;
  align-items: center;
  @include sp{
    height: 19.1rem;
  }
  p {
    font-size: 1.6rem;
    margin: 5.6rem 0 3.1rem 0;
    @include sp{
      font-size: 1rem;
      margin: 3.1rem 0 2rem 0;
    }
  }
  h2 {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
    font-weight: normal;
    margin-top: 0;
    @include sp{
      margin-bottom: 1.8rem;
      font-size: 1.4rem;
    }
  }
  a {
    @include sp{
      width: 34.6rem;
      height: 7rem;
      font-size: 2.1rem;
      border-radius: 1.4rem;
    }
  }
  &__btn {
    width: 48rem;
    height: 8rem;
    font-size: 2.4rem;
    background-color: rgba(239, 83, 80);
    color: #FFFFFF;
    border-radius: 1.4rem;
    border: none;
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      box-shadow: 0 0.8rem 0.5rem 0 rgba(0, 0, 0, 0.5);
      top: -0.4rem;
      cursor: pointer;
    }
    &:active {
      top: 0.4rem;
      box-shadow: none;
    }
  }
}

// メリットページ
.merit-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 11.9rem 0 11.9rem 0;
  @include sp{
    max-width: 37.5rem;
    align-items: flex-start;
    margin: 0 auto;
    padding: 6.3rem 1.5rem 5.6rem 1.5rem;
  }
  &__sp {
    display: none;
    @include sp{
      display: block;
      background: linear-gradient(transparent 60%, rgba(252, 143, 0, 0.35) 0);
      margin-left: 2.2rem;
      padding-bottom: 0.3rem;
      font-size: 2.1rem;
      font-weight: normal;
    }
    &:nth-of-type(2) {
      @include sp{
        margin-bottom: 1.5rem;
      }
    }
  }
  &__pc {
    font-size: 5.6rem;
    font-weight: normal;
    background: linear-gradient(transparent 60%, rgba(252, 143, 0, 0.35) 0);
    margin: 0;
    @include sp{
      display: none;
    }
  }
  & .merit-wrapper:nth-of-type(2) {
    margin-top: 4.8rem;
  }
  & .merit-wrapper:nth-of-type(3) {
    margin-top: 5.8rem;
  }
}
.merit-wrapper {
  display: flex;
  justify-content: space-between;
  width: 99.2rem;
  margin-top: 7.4rem;
  @include sp{
    display: block;
    width: 34.5rem;
    margin-top: 6.3rem;
  }
  img {
    width: 34.5rem;
    height: 17.5rem;
  }
  &__text {
    width: 55.5rem;
    @include sp{
      width: 34.5rem;
    }
    h2 {
      font-size: 2.4rem;
      font-weight: normal;
      margin: 0;
      @include sp{
        font-size: 2.1rem;
        margin: 0;
      }
    }
    p {
      width: 55.6rem;
      font-size: 1.6rem;
      line-height: 3.2rem;
      @include sp{
        font-size: 0;
        line-height: 2.8rem;
        width: 34.5rem;
        margin-top: 1.8rem;
        margin-bottom: 3.5rem;
        &:before {
          content: "ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト";
          font-size: 1.4rem;
        }
      }
    }
  }
}
