@charset "UTF-8";
@import './base';
@import './breakpoint';

// 追従ボタン
.follow-btn {
  display: block;
  width: 7.5rem;
  height: 21.6rem;
  background-color: rgba(239, 83, 80);
  color: rgba(255, 255, 255);
  border: none;
  font-size: 2rem;
  border-radius: 1.2rem 0 0 1.2rem;
  transition: all 0.5s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include sp{
    display: none;
  }
  &:hover {
    border: solid 1px rgba(239, 83, 80);
    background-color: rgba(255, 255, 255);
    color: rgba(239, 83, 80,);
    &::before {
      position: absolute;
      content: "";
      border-radius: 1.2rem 0 0 1.2rem;
      top: 0.6rem;
      bottom: 0.6rem;
      left: 0.6rem;
      right: 0.6rem;
      border: solid 1px rgba(239, 83, 80); 
      background-color: rgba(255, 255, 255);
      z-index: -1;
    }
  }
}
.fade-in {
  opacity: 0;
  transition: all 0.5s;
}
.scroll-in {
  opacity: 1;
  position: fixed;
  bottom: 15.972vh;
  right: 0px;
}

// トップページ
.top-section {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  @include sp{
    flex-direction: column-reverse;
  }
}
.top-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  @include sp{
    padding-top: 3.5rem;
    padding-left: 0;
    width: 37.5rem;
    align-items: center;
  }
  h2 {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
    margin-top: 0;
    font-weight: normal;
    @include sp{
      font-size: 2.1rem;
      margin-bottom: 2.1rem;
    }
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 2.7rem;
    font-weight: normal;
    line-height: 5.6rem;
    @include sp{
      font-size: 2.5rem;
      line-height: 3.9rem;
      margin-bottom: 1.8rem;
      text-align: center;
    }
    }
  &__btn {
    width: 48rem;
    height: 11.2rem;
    background-color: rgba(239, 83, 80);
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2.4rem;
    border-radius: 2rem;
    margin-bottom: 3.7rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sp{
      width: 34.5rem;
      height: 5.3rem;
      font-size: 1.9rem;
      border-radius: 1.4rem;
      margin-bottom: 1.7rem;
    }
    &:hover {
      top: -0.4rem;
      box-shadow: 0 0.8rem 0.5rem 0 rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
    &:active {
      top: 0.4rem;
      box-shadow: none;
    }
  }
  p {
    font-size: 1.6rem;
    line-height: 3.2rem;
    margin: 0;
    @include sp{
      font-size: 1rem;
      line-height: 1.4rem;
    }
  }
}
.top-image {
  &__pc {
    width: 64rem;
    @include sp{
      display: none;
    }
  }
  &__sp {
    display: none;
    @include sp{
      display: block;
      width: 100%;
    }
  }
}

// イントロページ
.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 11.9rem;
  @include sp{
    padding-top:6.9rem;
  }
  h2 {
    font-size: 2.4rem;
    font-weight: normal;
    background: linear-gradient(transparent 65%, rgba(25, 118, 210, 0.35) 0%);
    margin: 0;
    @include sp{
      font-size: 2.1rem;
    }
    }
  p {
    font-size: 1.6rem;
    margin: 2.1rem 0 1.9rem 0;
    @include sp{
      font-size: 1.4rem;
      margin: 1.8rem 0 1.7rem 0;
    }
    &:first-of-type {
      margin-top: 9rem;
      @include sp{
        margin-top: 3.2rem;
      }
    }
  }
  hr {
    width: 57.2rem;
    border: none;
    border-bottom: solid 1px rgba(25, 118, 210);
    margin: 0;
    @include sp{
      width: 34.5rem;
    }
  }
  h1 {
    width: 100vw;
    height: 23.2rem;
    font-size: 4.8rem;
    line-height: 6.4rem;
    font-weight: normal;
    margin-top: 11.3rem;
    margin-bottom: 0;
    background: linear-gradient(to right, rgb(115, 172, 228), #DEEEFC);
    display: flex;
    align-items: center; 
    justify-content: center;
    @include sp{
      height: 9rem;
      margin-top: 5.6rem;
      line-height: 3.1rem;
      font-size: 1.7rem;
    }
  }
}

// サービスページ
.service-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 12.1rem 0 16.8rem 0;
  box-sizing: border-box;
  @include sp{
    align-items: flex-start;
    max-width: 37.5rem;
    padding: 6.3rem 1.5rem 5.6rem 1.5rem;
  }
  h1 {
    text-align: center;
    font-size: 5.6rem;
    font-weight: normal;
    background: linear-gradient(transparent 60%, rgba(252, 143, 0, 0.35) 0);
    margin: 0;
    @include sp{
      font-size: 0;
      text-align: left;    
      margin-left: 1rem;
    }
    &:nth-of-type(2) {
      margin-top: 0.4rem;
    }
    &:first-of-type {
      @include sp{
        background: linear-gradient(transparent 70%, rgba(252, 143, 0, 0.35) 0);
        margin-bottom: 0.5rem;
        padding-bottom: 0.3rem;
      }
    }
    &:last-of-type {
      @include sp{
        background: linear-gradient(transparent 70%, rgba(252, 143, 0, 0.35) 0);
        padding-bottom: 0.3rem;
      }
    }
    &:first-of-type:before {
      @include sp{
        content: "ABCプログラミングスクールでは";
        font-size: 2.1rem;
      }
    }
    &:last-of-type:before {
      @include sp{
        content: "あなたの学習を徹底サポート";
        font-size: 2.1rem;
      }
    }
  }
}
.service-wrapper {
  display:flex;
  justify-content: space-between;
  width: 110.5rem;
  margin-top: 4.8rem;
  @include sp{
    width: 100%;
    flex-direction: column;
    margin-top: 5.8rem;
  }
  img {
    width: 47.4rem;
    height: 28rem;
    @include sp{
      width: 34.5rem;
      height: 18.9rem;
    }
  }
  &:first-of-type {
    margin-top: 6.4rem
  }
  &:nth-of-type(2) {
    flex-direction: row-reverse;
    @include sp{
      flex-direction: column;
    }
  }
  &__text {
    width: 55.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include sp{
      width: 34.5rem;
      margin-top: 4.2rem;
    }
    h2 {
      font-size: 2.4rem;
      margin-bottom: 2.6rem;
      margin-top: 0;
      font-weight: normal;
      @include sp{
        font-size: 2.1rem;
      }
    }
    p {
      font-size: 1.6rem;
      line-height: 3.2rem;
      margin: 0;
      @include sp{
        font-size: 0;
        line-height: 2.8rem;
        margin-top: 1.8rem;
        &:before {
          content: "ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト";
          font-size: 1.4rem;
        }
      }
    }
  }
}
.form-induction {
  height: 28rem;
  background: linear-gradient(to right, #62B5FE, #DEEEFC);
  display: flex;
  flex-direction: column;
  align-items: center;
  @include sp{
    height: 19.1rem;
  }
  p {
    font-size: 1.6rem;
    margin: 5.6rem 0 3.1rem 0;
    @include sp{
      font-size: 1rem;
      margin: 3.1rem 0 2rem 0;
    }
  }
  h2 {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
    font-weight: normal;
    margin-top: 0;
    @include sp{
      margin-bottom: 1.8rem;
      font-size: 1.4rem;
    }
  }
  a {
    @include sp{
      width: 34.6rem;
      height: 7rem;
      font-size: 2.1rem;
      border-radius: 1.4rem;
    }
  }
  &__btn {
    width: 48rem;
    height: 8rem;
    font-size: 2.4rem;
    background-color: rgba(239, 83, 80);
    color: #FFFFFF;
    border-radius: 1.4rem;
    border: none;
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      box-shadow: 0 0.8rem 0.5rem 0 rgba(0, 0, 0, 0.5);
      top: -0.4rem;
      cursor: pointer;
    }
    &:active {
      top: 0.4rem;
      box-shadow: none;
    }
  }
}

// メリットページ
.merit-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 11.9rem 0 11.9rem 0;
  @include sp{
    max-width: 37.5rem;
    align-items: flex-start;
    margin: 0 auto;
    padding: 6.3rem 1.5rem 5.6rem 1.5rem;
  }
  &__sp {
    display: none;
    @include sp{
      display: block;
      background: linear-gradient(transparent 60%, rgba(252, 143, 0, 0.35) 0);
      margin-left: 2.2rem;
      padding-bottom: 0.3rem;
      font-size: 2.1rem;
      font-weight: normal;
    }
    &:nth-of-type(2) {
      @include sp{
        margin-bottom: 1.5rem;
      }
    }
  }
  &__pc {
    font-size: 5.6rem;
    font-weight: normal;
    background: linear-gradient(transparent 60%, rgba(252, 143, 0, 0.35) 0);
    margin: 0;
    @include sp{
      display: none;
    }
  }
  & .merit-wrapper:nth-of-type(2) {
    margin-top: 4.8rem;
  }
  & .merit-wrapper:nth-of-type(3) {
    margin-top: 5.8rem;
  }
}
.merit-wrapper {
  display: flex;
  justify-content: space-between;
  width: 99.2rem;
  margin-top: 7.4rem;
  @include sp{
    display: block;
    width: 34.5rem;
    margin-top: 6.3rem;
  }
  img {
    width: 39.2rem;
    height: 17.6rem;
    @include sp{
      width: 34.5rem;
      height: 17.5rem;
    }
  }
  &__text {
    width: 55.5rem;
    @include sp{
      width: 34.5rem;
    }
    h2 {
      font-size: 2.4rem;
      font-weight: normal;
      margin: 0;
      @include sp{
        font-size: 2.1rem;
        margin: 0;
      }
    }
    p {
      width: 55.6rem;
      font-size: 1.6rem;
      line-height: 3.2rem;
      @include sp{
        font-size: 0;
        line-height: 2.8rem;
        width: 34.5rem;
        margin-top: 1.8rem;
        margin-bottom: 3.5rem;
        &:before {
          content: "ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト";
          font-size: 1.4rem;
        }
      }
    }
  }
}

// プランページ

.plan-section {
  margin: 0 auto;
  background-color: rgba(33, 150, 243, 0.07);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12.4rem 0 11.2rem 0;
  @include sp{
    padding: 6.4rem 1.5rem 5.6rem 1.5rem;
  }
  h1 {
    width: 83.3vw;
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: normal;
    margin: 0;
    @include sp{
      font-size: 2.8rem;
      width: 34.5rem;
    }
    &:before {
      content: "";
      height: 0.1rem;
      flex-grow: 1;
      background-color: rgba(112, 112, 112);
      margin-right: 4.8rem;
      @include sp{
        margin-right: 3.4rem;
      }
    }
    &:after {
      content: "";
      height: 0.1rem;
      flex-grow: 1;
      background-color: rgba(112, 112, 112);
      margin-left: 4.8rem;
      @include sp{
        margin-left: 3.4rem;
      }
    }
  }
}
.plan-wrapper {
  display: flex;
  justify-content: space-around;
  width: 120rem;
  margin-top: 6.8rem;
  @include sp{
    flex-direction: column;
    width: 34.5rem;
    margin-top: 0;
  }
}
.plan-inner {
  width: 37rem;
  height: 51.3rem;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.32);
  text-align: center;
  @include sp{
    width: 100%;
    height: 45rem;
    padding: 3.3rem 0 2.9rem 0;
    margin-top: 3.6rem;
    box-sizing: border-box;
    &:first-of-type {
      margin-top: 6.8rem;
    }
  }
  h2 {
    width: 18rem;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    background: linear-gradient(transparent 40%, rgba(33, 150, 243, 0.5) 0);
    margin: 0 auto;
    margin-top: 4.1rem;
    @include sp{
      font-size: 1.7rem;
      width: 16rem;
      margin-top: 0;
      padding-bottom: 0.5rem;
    }
  }
  p {
    width: 30.6rem;
    margin: 0 auto;
    margin-top: 3.2rem;
    font-size: 1.6rem;
    line-height: 3.2rem;
    @include sp{
      font-size: 0;
      line-height: 2.4rem;
      width: 28.1rem;
      margin-top: 1.4rem;
      margin-bottom: 3.2rem;
      &:before {
        content: "ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテ";
        font-size: 1.4rem;
      }
    }
  }
  &__list {
    width: 30.4rem;
    list-style: none;
    margin: 0 auto;
    margin-top: 3.6rem;
    padding: 0;
    @include sp{
      width: 28.1rem;
      margin-top: 0;
    }
    &--item {
      text-align: left;
      font-size: 1.6rem;
      @include sp{
        font-size: 1.4rem;
      }
    }
    hr {
      width: 30.4rem;
      margin: 1.7rem 0 1.9rem 0;
      @include sp{
        width: 28rem;
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
      }
    }
  }
}

// // プランページ
// .plan-section {
//   margin: 0 auto;
//   background-color: rgba(33, 150, 243, 0.07);
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   padding: 12.4rem 0 11.2rem 0;
//   @include sp{
//     padding: 6.4rem 1.5rem 5.6rem 1.5rem;
//   }
//   h1 {
//     width: 83.3vw;
//     display: flex;
//     align-items: center;
//     font-size: 4rem;
//     font-weight: normal;
//     margin: 0;
//     @include sp{
//       font-size: 2.8rem;
//       width: 34.5rem;
//     }
//     &:before {
//       @include sp{
//         margin-right: 3.4rem;
//       }
//       content: "";
//       height: 0.1rem;
//       flex-grow: 1;
//       background-color: rgba(112, 112, 112);
//       margin-right: 4.8rem;
//     }
//     &:after {
//       @include sp{
//         margin-left: 3.4rem;
//       }
//       content: "";
//       height: 0.1rem;
//       flex-grow: 1;
//       background-color: rgba(112, 112, 112);
//       margin-left: 4.8rem;
//     }
//   }
// }
// .plan-wrapper {
//   display: flex;
//   justify-content: space-around;
//   width: 120rem;
//   margin-top: 6.8rem;

//   @include tab{
//     flex-direction: column;
//     align-items: center;
//   }
//   @include sp-min{
//     flex-direction: column;
//     align-items: center;
//   }
//   @include sp{
//     flex-direction: column;
//     width: 34.5rem;
//     margin-top: 0;
//   }
// }
// .plan-inner {
//   width: 37rem;
//   height: 51.3rem;
//   background-color: rgba(255, 255, 255);
//   box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.32);
//   text-align: center;
//   @include sp-min{
//     height: 57rem;
//     width: 45rem;
//     margin-top: 3rem;
//   }
//   @include tab{
//     height: 57rem;
//     width: 45rem;
//     margin-top: 3rem;
//   }
//   @include sp{
//     width: 100%;
//     height: 45rem;
//     padding: 3.3rem 0 2.9rem 0;
//     margin-top: 3.6rem;
//     box-sizing: border-box;
//   }
//   &:first-of-type {
//     @include sp-min{
//       margin-top: 0;
//     }
//     @include tab{
//       margin-top: 0;
//     }
//     @include sp{
//       margin-top: 6.8rem;
//     }
//   }
//   h2 {
//     width: 18rem;
//     text-align: center;
//     font-size: 2rem;
//     font-weight: normal;
//     background: linear-gradient(transparent 40%, rgba(33, 150, 243, 0.5) 0);
//     margin: 0 auto;
//     margin-top: 4.1rem;
//     @include sp{
//       font-size: 1.7rem;
//       width: 16rem;
//       margin-top: 0;
//       padding-bottom: 0.5rem;
//     }
//   }
//   p {
//     width: 30.6rem;
//     margin: 0 auto;
//     margin-top: 3.2rem;
//     font-size: 1.6rem;
//     line-height: 3.2rem;
//     @include tab{
//       width: 41rem;
//       font-size: 10px;
//     }
//     @include sp-min{
//       width: 41rem;
//       font-size: 10px;
//     }
//     @include sp{
//       font-size: 0;
//       line-height: 2.4rem;
//       width: 28.1rem;
//       margin-top: 1.4rem;
//       margin-bottom: 3.2rem;
//       &:before {
//         content: "ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテ";
//         font-size: 1.4rem;
//       }
//     }
//   }
//   &__list {
//     width: 30.4rem;
//     list-style: none;
//     margin: 0 auto;
//     margin-top: 3.6rem;
//     padding: 0;
//     @include tab{
//       width: 37rem;
//     }
//     @include sp-min{
//       width: 37rem;
//     }
//     @include sp{
//       width: 28.1rem;
//       margin-top: 0;
//     }
//     &--item {
//       text-align: left;
//       font-size: 1.6rem;
//       @include sp{
//         font-size: 1.4rem;
//       }
//     }
//     hr {
//       width: 30.4rem;
//       margin: 1.7rem 0 1.9rem 0;
//       @include tab{
//         width: 37rem;
//       }
//       @include sp-min{
//         width: 37rem;
//       }
//       @include sp{
//         width: 28rem;
//         margin-top: 1.6rem;
//         margin-bottom: 1.6rem;
//       }
//     }
//     &--item {
//       @include tab{
//         font-size: 10px;
//       }
//       @include sp-min{
//         font-size: 10px;
//       }
//     }
//   }
//   .sp-form-induction {
//     @include sp{
//       display: none;
//     }
//   }
// }

// レビューページ
.review-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12.4rem 0 11.2rem 0;
  @include sp{
    padding: 6.4rem 1.5rem 5.6rem 1.5rem;
  }
  h1 {
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: normal;
    width: 83.3vw;
    margin: 0;
    @include sp{
      font-size: 2.8rem;
      width: 34.5rem;
      margin-bottom: 4.5rem;
    }
    &:before {
      content: "";
      height: 0.1rem;
      margin-right: 4.8rem;
      flex-grow: 1;
      background-color: rgba(112, 112, 112);
      @include sp{
        margin-right: 3.4rem;
      }
    }
    &:after {
      content: "";
      height: 0.1rem;
      margin-left: 4.8rem;
      flex-grow: 1;
      background-color: rgba(112, 112, 112);
      @include sp{
        margin-left: 3.4rem;
      }
    }
  }
}
.review-heading {
  display: flex;
  justify-content: space-between;
  margin-top: 7.8rem;
  width: 57rem;
  @include sp{
    width: 33.2rem;
    margin-top: 0;
    margin-bottom: 3.6rem;
  }
  p {
    color: rgba(25, 118, 210);
    font-size: 2rem;
    margin: 0;
    @include sp{
      font-size: 1.3rem;
    }
    &:nth-of-type(1) {
      background: linear-gradient(transparent 60%, rgba(252, 143, 0, 0.5) 0);
    }
  }
}
.review-wrapper {
  width: 120rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 4.8rem;
  @include tab{
    flex-direction: column;
  }
  @include sp-min{
    flex-direction: column;
  }
  @include sp{
    display: block;
    width: 32.1rem;
    margin: 0;
  }
}
.review-unit {
  display: flex;
  justify-content: center;
  width: 47.6rem;
  height: 28rem;
  background-color: rgba(33, 150, 243, 0.18);
  padding: 3.2rem 0 3.2rem 0;
  box-sizing: border-box;
  @include tab{
    width: 60rem;
    height: 35rem;
  }
  @include sp-min{
    width: 60rem;
    height: 35rem;
  }
  @include sp{
    flex-direction: column;
    justify-content: flex-start;
    width: 32.1rem;
    height: 30rem;
    padding: 2.7rem 2.9rem 3rem 3rem;
    box-sizing: border-box;
  }
  &__avatar {
    @include sp{
      display: flex;
      align-items: flex-end;
    }
    img {
      width: 8rem;
      height: 10rem;
      @include sp{
        width: 6.5rem;
        height: 8rem;
        margin: 0;
      }
    }
    p {
      color: rgba(25, 118, 210);
      font-size: 1.4rem;
      margin: 0 auto;
      margin-top: 3.6rem;
      text-align: center;
      @include tab{
        font-size: 10px;
      }
      @include sp-min{
        font-size: 10px;
      }
      @include sp{
        font-size: 2rem;
        margin-left: 2rem;
      }
    }
  }
  &__text {
    width: 30.4rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0;
    margin-left: 2.6rem;
    @include tab{
      width: 41.5rem;
      line-height: 1.5;
      font-size: 10px;
    }
    @include sp-min{
      width: 41.5rem;
      line-height: 1.5;
      font-size: 10px;
    }
    @include sp{
      display: none;
    }
    &--sp {
      display: none;
      @include sp{
        display: block;
        margin: 0;
        font-size: 1.1rem;
        line-height: 2.2rem;
        margin-top: 1.4rem;
      }
    }
  }
  &:nth-of-type(2) {
    margin-left: 3rem;
    @include tab{
      margin: 3rem 0 0 0;
    }
    @include sp-min{
      margin: 3rem 0 0 0;
    }
    @include sp{
      margin: 0;
    }
  }
  &:nth-of-type(3) {
    margin-top: 3.2rem;
    @include tab{
      margin: 3rem 0 0 0;
    }
    @include sp-min{
      margin: 3rem 0 0 0;
    }
    @include sp{
      margin: 0;
    }
  }
  &:nth-of-type(4) {
    margin-top: 3.2rem;
    margin-left: 3rem;
    @include tab{
      margin: 3rem 0 0 0;
    }
    @include sp-min{
      margin: 3rem 0 0 0;
    }
    @include sp{
      margin: 0;
    }
  }
}
.sp-review-wrapper {
  display: none;
}

// レビューぺージ　スライドショー
.slick-prev {
  @include sp{
    transform: rotate(180deg);
    transform-origin: center 25%;
    left: -1rem;
    z-index: 1;
    width: 2.4rem;
    height: 2.4rem;
  }
}
.slick-next {
  @include sp{
    right: -1rem;
    width: 2.4rem;
    height: 2.4rem;
  }
}
.slick-prev::before {
  @include sp{
    background-color: rgba(119, 191, 255);
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    content: "⇀";
    font-size: 2.4rem;
    opacity: 1;
  }
}
.slick-next::before {
  @include sp{
    background-color: rgba(119, 191, 255);
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    content: "⇀";
    font-size: 2.4rem;
    opacity: 1;
  }
}
.slick-dots li button::before {
  @include sp{
    font-size: 4.8rem;
    color: rgba(188, 188, 188);
    opacity: 1;
  }
}

// クエスチョンページ
.question-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 150, 243, 0.07);
  padding: 12.4rem 0 10.9rem 0;
  @include sp{
    padding: 6.4rem 1.5rem 5.6rem 1.5rem;
  }
  h1 {
    display: flex;
    align-items: center;
    font-size: 4rem;
    width: 83.3vw;
    margin: 0;
    @include sp{
      width: 34.5rem;
      font-size: 2.8rem;
      margin-bottom: 6.7rem;
      font-weight: normal;
    }
    &:before {
      content: "";
      height: 0.1rem;
      margin-right: 4.8rem;
      flex-grow: 1;
      background-color: rgba(112, 112, 112);
      @include sp{
        margin-right: 3.4rem;
      }
    }
    &:after {
      content: "";
      height: 0.1rem;
      margin-left: 4.8rem;
      flex-grow: 1;
      background-color: rgba(112, 112, 112);
      @include sp{
        margin-left: 3.4rem;
      }
    }
  }
}
.question-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110.4rem;
  height: 9.6rem;
  background-color: rgb(33, 150, 243);
  margin-top: 3.2rem;
  color: rgba(255, 255, 255);
  padding: 2.8rem 3.2rem;
  box-sizing: border-box;
  @include sp{
    width: 34.5rem;
    height: 8rem;
    margin-top: 2.8rem;
    padding: 1.9rem 2rem 2.4rem 1.5rem;
  }
  &__text {
    display: flex;
    align-items: center;
    h2 {
      font-size: 2.4rem;
      margin: 0;
      margin-right: 2.5rem;
      @include sp{
        font-size: 2.3rem;
        margin-right: 0.8rem;
        height: 4.5rem;
      }
    }
    &--pc {
      font-size: 1.6rem;
      margin: 0;
      @include sp{
        display: none;
      }
    }
    &--sp {
      display: none;
      @include sp{
        display: block;
        font-size: 1.4rem;
        line-height: 2.1rem;
        margin: 0;
      }
    }
  }
  &:first-of-type {
    margin-top: 6.7rem;
    @include sp{
      margin-top: 0;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &__icon {
    width: 4rem;
    height: 4rem;
    @include sp{
      width: 2rem;
      height: 2rem;
    }
    &--item {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;
      &:before{
        position: absolute;
        content: "";
        display: block;
        background: rgba(255, 255, 255);
        transition: all 0.4s;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 0.3rem;
        transform: translate(-50%, -50%)rotate(90deg);
      }
      &:after {
        position: absolute;
        content: "";
        display: block;
        background: rgba(255, 255, 255);
        transition: all 0.4s;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 0.3rem;
        transform: translate(-50%, -50%);
      }
      &.icon-open:before {
        transform: translate(-50%, -50%)rotate(0deg);
      }
    }
  }
}
.accordion {
  width: 110.4rem;
  height: 9.6rem;
  font-size: 1.6rem;
  border: solid 1px rgba(161, 161, 161);
  padding-left: 8.2rem;
  box-sizing: border-box;
  display: none;
  @include sp{
    width: 34.5rem;
    height: 8rem;
    padding-left: 5rem;
  }
  &-pc {
    height: 9.6rem;
    display: flex;
    align-items: center;
    margin: 0;
    @include sp{
      display: none;
    }
  }
  &-sp {
    display: none;
    @include sp{
      display: block;
      font-size: 1.4rem;
      line-height: 2.1rem;
    }
  }
}

// リクエストページ
.request-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12.9rem 0 11.2rem 0;
  @include sp{
    padding: 0;
    padding-top: 6.4rem;
  }
  &__pc {
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: normal;
    width: 83.3vw;
    margin: 0;
    @include sp{
      display: none;
    }
    &:before {
      content: "";
      height: 0.1rem;
      margin-right: 4.8rem;
      flex-grow: 1;
      background-color: rgba(112, 112, 112);
    }
    &:after {
      content: "";
      height: 0.1rem;
      margin-left: 4.8rem;
      flex-grow: 1;
      background-color: rgba(112, 112, 112);
    }
  }
  &__sp {
    display: none;
    @include sp{
      display: block;
      font-size: 2.8rem;
      font-weight: normal;
    }
  } 
}
.request-wrapper {
  width: 120rem;
  display: flex;
  justify-content: space-between;
  margin-top: 7.9rem;
  @include tab{
    flex-direction: column;
    align-items: center;
  }
  @include sp-min{
    flex-direction: column;
    align-items: center;
  }
  @include sp{
    margin-top: 6.7rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  &__text {
    @include sp{
      max-width: 37.5rem;
      margin: 0 1.6rem 0 1.6rem;
    }
    h2 {
      width: 48.6rem;
      font-size: 2.4rem;
      font-weight: normal;
      margin-top: 5.4rem;
      margin-bottom: 0;
      background: linear-gradient(transparent 60%, rgba(252, 143, 0, 0.35) 0);
      padding-bottom: 0.6rem;
      @include sp{
        font-size: 1.7rem;
        width: 34.5rem;
        padding-bottom: 0.4rem;
        text-align: center;
        margin-top: 0;
      }
    }
    h3 {
      font-size: 2rem;
      font-weight: normal;
      margin-top: 2rem;
      margin-bottom: 0;
      line-height: 3.6rem;
      @include sp{
        font-size: 1.4rem;
        line-height: 2.1rem;
        margin-top: 2.8rem;
      }
    }
    p {
      font-size: 1.4rem;
      margin-top: 2.5rem;
      line-height: 3rem;
      font-weight: normal;
      @include sp{
        font-size: 1rem;
        line-height: 1.7rem;
        margin: 1.6rem 0 2.8rem 0;
      }
    }
  }
  &__form {
    background-color: rgba(241, 242, 243);
    width: 61.6rem;
    height: 46.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4.2rem 0 4.2rem 0;
    box-sizing: border-box;
    @include tab{
      width: 80rem;
      height: 57rem;
      margin-top: 6rem;
    }
    @include sp-min{
      width: 80rem;
      height: 57rem;
      margin-top: 6rem;
    }
    @include sp{
      width: 100%;
      height: 71rem;
      padding: 3.1rem 1.5rem 2.8rem 1.5rem;
      margin-top: 0;
    }
    table {
      border-collapse: separate;
      border-spacing: 0.3rem 0.8rem;
      @include sp{
        border-spacing: 0;
      }
    }
    tr:first-of-type th {
      @include sp{
        margin-top: 0;
      }
    }
    tr:last-of-type th {
      vertical-align: top;
      padding-top: 1.7rem;
      @include sp{
        padding-top: 0;
      }
    }
    tr:last-of-type td {
      @include sp{
        height: 11.2rem;
      }
    }
    td {
      height: 4.4rem;
      @include sp{
        font-size: 1.2rem;
        display: block;
        text-align: left;
        width: 100%;
      }
    }
    .td-space {
      @include sp{
        margin-bottom: 0.6rem;
      }
    }
    th {
      width: 15.5rem;
      text-align: left;
      font-size: 1.2rem;
      font-weight: normal;
      @include tab{
        width: 22rem;
      }
      @include sp-min{
        width: 22rem;
      }
      @include sp{
        font-size: 1.2rem;
        display: block;
        text-align: left;
        width: 100%;
        margin: 2.4rem 0 0.6rem 0;
      }
    }
    .input{
      width: 18rem;
      height: 4.4rem;
      font-size: 1.2rem;
      padding-left: 1.7rem;
      box-sizing: border-box;
      @include tab{
        width: 20rem;
      }
      @include sp-min{
        width: 20rem;
      }
      @include sp{
        width: 34.5rem;
        height: 4.4rem;
        font-size: 1.2rem;
        padding-left: 1.6rem;
      }
    }
    .long-input{
      width: 36.5rem;
      font-size: 1.2rem;
      padding-left: 1.7rem;
      box-sizing: border-box;
      @include tab{
        width: 41rem;
      }
      @include sp-min{
        width: 41rem;
      }
      @include sp{
        width: 34.5rem;
        height: 4.4rem;
        font-size: 1.2rem;
        padding-left: 1.6rem;
      }
    }
    .address {
      height: 4.4rem;
      padding: 0;
    }
    textarea {
      height: 11.2rem;
      @include tab{
        height: 20rem;
      }
      @include sp-min{
        height: 20rem;
      }
      @include sp{
        height: 11.2rem;
      }
    }
    &--btn {
      width: 33.4rem;
      height: 7rem;
      background-color: rgba(239, 83, 80);
      border-radius: 1.4rem;
      border: none;
      color: rgba(255, 255, 255);
      font-size: 2.4rem;
      margin-top: 2rem;
      position: relative;
      @include sp{
        width: 34.5rem;
        height: 7rem;
        border-radius: 1.4rem;
        font-size: 2.6rem;
        margin-top: 2.8rem;
        margin-bottom: 0;
      }
      &:hover {
        box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.5);
        top: -0.4rem;
        cursor: pointer;
      }
      &:active {
        top: 0.4rem;
        box-shadow: none;
      }
    }
  }
}